<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> 
                <h1>trabajo uno</h1> -
                <h3>(Years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quisquam ad sequi soluta sint ratione aspernatur atque, labore ullam expedita consequatur nisi maiores in ex perspiciatis iste unde, provident minus.</p>
        </ul>
        <ul>
            <li> 
                <h1>trabajo Dos</h1> -
                <h3>(Years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quisquam ad sequi soluta sint ratione aspernatur atque, labore ullam expedita consequatur nisi maiores in ex perspiciatis iste unde, provident minus.</p>
        </ul>
        <ul>
            <li> 
                <h1>trabajo Tres</h1> -
                <h3>(Years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quisquam ad sequi soluta sint ratione aspernatur atque, labore ullam expedita consequatur nisi maiores in ex perspiciatis iste unde, provident minus.</p>
        </ul>
    </div>
</div>