
('
WEBSIDE FOR MAKE circle-progress 
https://www.npmjs.com/package/ng-circle-progress

PART 6
')
<div class="row">
    <h1>Hard & Soft Skills</h1>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="90"
         [title]="'html'"
         [showUnits]="false"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
    ></circle-progress>
    
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="90"
         [title]="'html'"
         [showUnits]="false"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
    ></circle-progress>
    
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="90"
         [title]="'html'"
         [showUnits]="false"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
    ></circle-progress>
    
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="90"
         [title]="'html'"
         [showUnits]="false"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
    ></circle-progress>
    
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="90"
         [title]="'html'"
         [showUnits]="false"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
    ></circle-progress>
    
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="85"
         [radius]="90"
         [title]="'html'"
         [showUnits]="false"
         [outerStrokeWidth]="10"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="300"
    ></circle-progress>
    
    </div>


</div>
